* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #548687;
    text-align: center;
    background-image: url('dragon-blood-moon-7680x4320-11087.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 5rem;
    background-color: #ea0eb7;
    color: #fff;
    border-radius: 1.5rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 5rem;
    background-color: #67e612;
    color: #fff;
    border-radius: 1.5rem;
    border: 2px;
  }
  
  #msg {
    color: #f10d0d;
    font-size: 6vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }
  h1{
    color :rgb(237, 166, 14);
    font-size:100px;
  }